Repository Enriquefft/Spotify-statistic-study: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, test, formatting

lint:
  run: bunx eslint {staged_files} --fix

types:
  run: bunx tsc --noEmit

test:
  run: bun test

formatting:
  run: bunx prettier {staged_files} --write

Added left-hook
  lefthook.yml
  spotify-data-form/src/app/layout.tsx
  spotify-data-form/src/app/page.tsx
  spotify-data-form/tsconfig.json
Due: lint, test, formatting

Add supabase
  .github/workflows/generate-types.yml
  README.md
  spotify-data-form/.env
  spotify-data-form/.eslintrc.cjs
  spotify-data-form/bun.lockb
  spotify-data-form/next.config.mjs
  spotify-data-form/package.json
  spotify-data-form/src/app/auth/callback/page.tsx
  spotify-data-form/src/app/data/page.tsx
  spotify-data-form/src/app/page.tsx
  spotify-data-form/src/env.mjs
  spotify-data-form/src/lib/actions.ts
  spotify-data-form/tsconfig.json
Due: lint, test, formatting

reverted supabase install
  spotify-data-form/bun.lockb
  spotify-data-form/package.json
Due: test, formatting

Added /data content
  spotify-data-form/src/app/data/page.tsx
Due: lint, test, formatting

removed build from lefthook
  spotify-data-form/src/app/data/page.tsx
Due: lint, test, formatting

Disabled ssr on /auth/callback
  lefthook.yml
  spotify-data-form/src/app/auth/callback/page.tsx
  spotify-data-form/src/ui/auth/callback/params.tsx
Due: lint, test, formatting

Made lefthook commands serial
  lefthook.yml
  spotify-data-form/src/app/page.tsx
Due: lint, test, formatting

Added supabase types
  spotify-data-form/.eslintrc.cjs
  spotify-data-form/bun.lockb
  spotify-data-form/database.types.ts
  spotify-data-form/package.json
Due: lint, test, formatting

Implemented supabase data fetching
  spotify-data-form/.env
  spotify-data-form/bun.lockb
  spotify-data-form/database.types.ts
  spotify-data-form/package.json
  spotify-data-form/src/app/data/page.tsx
  spotify-data-form/src/env.mjs
  spotify-data-form/src/lib/supabase.ts
  spotify-data-form/src/schema.gen.ts
  spotify-data-form/supabase/.gitignore
  spotify-data-form/supabase/config.toml
  spotify-data-form/supabase/migrations/20240123003357_remote_schema.sql
  spotify-data-form/supabase/seed.sql
Due: lint, test, formatting

Update README.md
  README.md
Due: formatting

Added the qmd document
  Proyecto-Estadistica-II.Rproj
  proyecto-spotify.qmd
Due: none

Added the connection to the database
  proyecto-spotify.qmd
Due: none

Progress
  spotify-data-form/.env
  spotify-data-form/.eslintrc.cjs
  spotify-data-form/bun.lockb
  spotify-data-form/experimental/yield.ts
  spotify-data-form/package.json
  spotify-data-form/src/app/auth/callback/page.tsx
  spotify-data-form/src/app/data/page.tsx
  spotify-data-form/src/app/layout.tsx
  spotify-data-form/src/app/page.tsx
  spotify-data-form/src/env.mjs
  spotify-data-form/src/lib/actions.ts
  spotify-data-form/src/lib/data.ts
  spotify-data-form/src/lib/districts.ts
  spotify-data-form/src/lib/genders.ts
  spotify-data-form/src/lib/genres.ts
  spotify-data-form/src/lib/schemas.ts
  spotify-data-form/src/lib/spotify.ts
  spotify-data-form/src/lib/utils.ts
  spotify-data-form/src/lib/varieties.ts
  spotify-data-form/src/schema.gen.ts
  spotify-data-form/src/ui/form.tsx
  spotify-data-form/supabase/migrations/20240206215611_remote_schema.sql
  spotify-data-form/tsconfig.json
Due: lint, test, formatting

Finished?
  spotify-data-form/bun.lockb
  spotify-data-form/components.json
  spotify-data-form/package.json
  spotify-data-form/src/app/auth/callback/page.tsx
  spotify-data-form/src/components/form.tsx
  spotify-data-form/src/lib/data.ts
  spotify-data-form/src/lib/genders.ts
  spotify-data-form/src/lib/spotify.ts
  spotify-data-form/src/lib/utils.ts
  spotify-data-form/src/schema.gen.ts
  spotify-data-form/supabase/migrations/20240207063643_remote_schema.sql
  spotify-data-form/supabase/migrations/20240207070340_remote_schema.sql
  spotify-data-form/supabase/migrations/20240207175844_remote_schema.sql
Due: lint, test, formatting

removed supabase cli dependency
  spotify-data-form/bun.lockb
  spotify-data-form/package.json
Due: test, formatting

removed bun types
  spotify-data-form/bun.lockb
  spotify-data-form/package.json
Due: test, formatting

Fixed redirect url
  spotify-data-form/src/lib/spotify.ts
Due: lint, test, formatting

changed redirect to use full path
  spotify-data-form/src/lib/spotify.ts
Due: lint, test, formatting

Finished data insertion, bugs pending
  spotify-data-form/src/app/auth/callback/error.tsx
  spotify-data-form/src/components/form.tsx
  spotify-data-form/src/env.mjs
  spotify-data-form/src/lib/actions.ts
  spotify-data-form/src/lib/data.ts
  spotify-data-form/src/lib/genders.ts
  spotify-data-form/src/lib/genres.ts
  spotify-data-form/src/lib/spotify.ts
  spotify-data-form/src/schema.gen.ts
  spotify-data-form/supabase/migrations/20240207201133_remote_schema.sql
Due: lint, test, formatting

Removed state validation
  spotify-data-form/.eslintrc.cjs
  spotify-data-form/src/app/auth/callback/page.tsx
Due: lint, test, formatting

Added sumbitting info
  spotify-data-form/src/components/form.tsx
Due: lint, test, formatting

made form client
  spotify-data-form/src/components/form.tsx
Due: lint, test, formatting

tmp2
  proyecto-spotify.qmd
Due: none

Some changes and added the study case 1
  proyecto-spotify.qmd
Due: none

tmp
  proyecto-spotify.qmd
Due: none

Advanced variety
  Variety.qmd
Due: none

Update proyecto-spotify.qmd (caso 1)
  proyecto-spotify.qmd
Due: none

Part 3 added
  proyecto-spotify.qmd
Due: none

cambio chiquito
  proyecto-spotify.qmd
Due: none

Update proyecto-spotify.qmd (caso 2)
  proyecto-spotify.qmd
Due: none

Caso 1 y 2
  proyecto-spotify.qmd
Due: none

Fixed readme.md
  README.md
Due: formatting

final xd
  proyecto-spotify.qmd
Due: none

html added
  proyecto-spotify.html
Due: formatting

data folder added
  proyecto-spotify_files/figure-html/unnamed-chunk-19-1.png
  proyecto-spotify_files/figure-html/unnamed-chunk-8-1.png
  proyecto-spotify_files/libs/bootstrap/bootstrap-icons.css
  proyecto-spotify_files/libs/bootstrap/bootstrap-icons.woff
  proyecto-spotify_files/libs/bootstrap/bootstrap.min.css
  proyecto-spotify_files/libs/bootstrap/bootstrap.min.js
  proyecto-spotify_files/libs/clipboard/clipboard.min.js
  proyecto-spotify_files/libs/quarto-html/anchor.min.js
  proyecto-spotify_files/libs/quarto-html/popper.min.js
  proyecto-spotify_files/libs/quarto-html/quarto-syntax-highlighting.css
  proyecto-spotify_files/libs/quarto-html/quarto.js
  proyecto-spotify_files/libs/quarto-html/tippy.css
  proyecto-spotify_files/libs/quarto-html/tippy.umd.min.js
Due: lint, test, formatting

Removed genres
  spotify-data-form/src/app/auth/callback/page.tsx
  spotify-data-form/src/app/data/page.tsx
  spotify-data-form/src/lib/actions.ts
  spotify-data-form/src/lib/data.ts
  spotify-data-form/src/lib/spotify.ts
  spotify-data-form/src/schema.gen.ts
  spotify-data-form/supabase/migrations/20240225193517_remote_schema.sql
Due: lint, test, formatting

added log
  spotify-data-form/src/lib/spotify.ts
  spotify-data-form/src/schema.gen.ts
Due: lint, test, formatting

Added better error page
  spotify-data-form/src/app/auth/callback/error.tsx
  spotify-data-form/src/lib/actions.ts
  spotify-data-form/src/lib/data.ts
  spotify-data-form/src/lib/spotify.ts
Due: lint, test, formatting

Path conditions:
  lint: any of: **/*.{js,ts,tsx}
  types: any of: ./spotify-data-form/*.{json,js,ts,tsx}
  test: any of: *.{json,js,ts,tsx}
  formatting: any of: *.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml}
